# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Virtual Environment & IDE
/.venv/
/.idea/
.DS_Store

# Environments and Keys
.env
/server/.env
*.pem

# Build and Packaging
/dist/
*.spec
AppIcon.icns

# Data, Logs and Uploads
/logs/
/server/logs/
/uploads/
/server/uploads/
server/data/
client/settings.json

# Databases
*.sqlite
test_db.sqlite
/server/test_db.sqlite


/.agents/
/server/deploy.sh