# Секреты и конфигурации
.env
.env.*

# Виртуальные окружения Python
.venv/
venv/
env/

# Кэш Python и отладочные файлы
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Базы данных (они должны подключаться через Volumes, а не зашиваться в образ)
*.sqlite
*.db
*.sqlite3

# Директории с логами и загруженными файлами (они тоже нужны только во время работы)
logs/
uploads/

# Файлы IDE и Git
.idea/
.vscode/
.git/
.gitignore

# Тесты
tests/