# --- БАЗА ДАННЫХ POSTGRESQL ---
POSTGRES_USER=change_me
POSTGRES_PASSWORD=change_me
POSTGRES_DB=change_me

# --- НАСТРОЙКИ ПОДКЛЮЧЕНИЯ ДЛЯ FASTAPI ---
DB_HOST=change_me
DB_PORT=change_me
DB_USER=change_me
DB_PASSWORD=change_me
DB_NAME=change_me

# --- БЕЗОПАСНОСТЬ МЕССЕНДЖЕРА ---
# Код, который юзеры будут вводить при регистрации
SERVER_SECRET=change_me
# Длинная случайная строка для криптографии
JWT_SECRET_KEY=change_me